[Unit]
Description=Overview Wings Service
After=network.target

[Service]
Type=simple
User=block
WorkingDirectory=/path/to/your/project
ExecStart=/var/www/Overview/wings/wings/bin/python /var/www/Overview/wings/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
